################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/project1/ConsoleApp1/ConsoleApp1/obj/Debug
